/*background-color: #F1F1F1;*/

body{
    background-color: black;
}

h1{
    color: #627254;
    display: inline-block;
    background-color: #F1F1F1;
    padding: 10 px; 
   
    border: thick double black;
    
    column-span: none;
}

h3{
    display: block;
        
    }
            
p{
    color: black;
        
    }

#abovethefold{
    display: inline-block;
    background-image: url("./images/smlluniform.JPG");  
    border-right-width: 100%;
    border-radius: 15px;
    height: 800px; 
}

.memyselfi{
    display: block;
    border-style: groove;
    width: 40%;
    background-image: url("./images/camo.jpeg");
    padding: 5px;
    opacity:90%; 
    margin:10px;

}

.interest {
    background-color: #DDDDDD;
    border: thick double black;
    float: left;
    padding: 10px; 
    margin: 50px;

}

.homes, .JOBS{
    border: thick double black;
    background-color: #DDDDDD;
    scroll-padding-left: 10em; 
    margin: 50em;

}

.container{
    display: flex;
    gap: 10px;
    border-style: none;
    background-color: #DDDDDD;
    width:400px;
    justify-content: center;
    
}

.box{
    border-style: groove;
    border: thick black; 
    margin: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    text-align: center; 

}

.maththing{
    border: thick double #EEEEEE;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    margin-left: 35%; 
    margin-top: 3%;
}

.gridcontainer{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    background-color: #DDDDDD;
    justify-content: center;
    width: 400px;
    text-align: center;

}

#screen{
    border-style: groove;
    border: thich black; 
    background-color: #EEEEEE;
    grid-column: span 4;

}   

#screen2{
    border-style: groove;
    border: thich black; 
    background-color: #EEEEEE;
    grid-column: span 4;

}   


